* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    background-color: #000000;
}

/*----- Hero Banner -----*/

header {
    background-image: url(img/hero2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    font-family: 'Lobster', cursive;
    color: #fcf7ff;
    font-size: 120px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 0 0 30px;
}

header a {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #cccbcb;
    font-size: 40px;
    text-decoration: none;
    margin: 0 0 0 30px;
    width: 350px;
    text-transform: capitalize;
}

/*----- Listings -----*/

.listings {
    margin: 0 auto;
    text-align: center;
}

.featuredListingsTitle {
    width: 50%;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.listings h2 {
    font-family: 'Fjalla One', sans-serif;
    color: #f0f8ff;
    font-size: 2.5rem;
    letter-spacing: 1px;
    max-width: 100%;
    text-align: center;
    margin: 60px auto 30px auto;
    padding: 10px
}

.listings p {
    font-family: 'Fjalla One', sans-serif;
    color: #f0f8ff;
    font-size: 1.2rem;
    letter-spacing: 1px;
    max-width: 100%;
    text-align: center;
}

.listings img {
    width: 60%;
    padding: 2%;
}

/*----- Why Us -----*/

.whyUs {
    width: 90%;
    margin: 40px auto;
    background: red;
}

.whyUs h2 {
    font-family: 'Fjalla One', sans-serif;
    color: #f0f8ff;
    font-size: 50px;
    letter-spacing: 1px;
    max-width: 100%;
    text-align: center;
    margin: 60px auto 30px auto;
    padding: 10px
}

.whyUs p {
    font-family: 'Fjalla One', sans-serif;
    color: #f0f8ff;
    font-size: 30px;
    text-align: center;
    padding: 0 20px 20px 20px;
}

/*Agents Section*/

.agents {
    display: flex;
}

.agents p {
    font-family: 'Fjalla One', sans-serif;
    color: #f0f8ff;
    font-size: 30px;
}

.imageOne {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.imageTwo {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.leftImageRightText {
    height: 50vh;
    min-width: 200px;
    flex-grow: 1;
    background: red;
}

.rightImageLeftText {
    height: 50vh;
    min-width: 200px;
    flex-grow: 1;
    background: blue;
}

footer {
    width: 90%;
    padding: 1%;
    margin: 0 auto;
    text-align: center;
}

footer h2 {
    font-size: 20px;
    color: #a59f9f;
}

footer a {
    text-decoration: none;
    font-size: 20px;
    margin: 0 20px 0 20px;
    color: #a59f9f;
}

footer p {
    margin: 10px 10px 5px 10px;
}

footer a:hover {
    transition: 0.2s;
    opacity: 0.8;
}

/*-----RESPONSIVE-----*/

/*--screens 900 and under--*/

@media screen and (max-width:900px) {
    header h1 {
        font-size: 5.5rem;
    }
    .whyUs p {
        font-size: 1.5rem;
    }
}

/*--screens 400 and under--*/

@media screen and (max-width:400px) {
    header h1 {
        font-size: 3.5rem;
    }
    .featuredListingsTitle {
        width: 80%;
    }
    header a {
        font-size: 2rem;
    }
    .listings img {
        width: 95%;
    }
    .whyUs h2 {
        font-size: 2.5rem;
    }
    .whyUs p {
        font-size: 1.3rem;
    }
    footer {
        width: 100vw;
    }
    footer p {
        margin-bottom: 1.5rem;
    }
}