/* Global */

* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    color: white;
}

body {
    background-color: #0d0d0d;
}

/* ---------- Hero Banner Section ---------- */

.hero {
    background-image: url('/assets/img/hero-banner-darkened-min.jpg ');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center;
    position: relative;
}

.hero-wrapper {
    position: absolute;
    /* height 70vh because top 30% (100-30=70) */
    height: 70%;
    width: 100vw;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
}

.hero-wrapper h1 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    color: white;
    font-size: 100px;
}

.hero-wrapper h2 {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 40px;
    margin-top: 5px;
}

.down-arrow {
    text-align: center;
    position: absolute;
    bottom: 5%;
    transform: translate(-50%, 0);
    width: 4%;
    animation: up-down-animation 2s linear infinite;
}

/* Down Arrow up-down Animation */

@keyframes up-down-animation {
    0%,
    100% {
        bottom: 5%;
    }
    50% {
        bottom: 10px;
    }
}

/* Landing Section Media Queries */

/* 600px and under */

@media (max-width:600px) {
    .hero-wrapper h1 {
        font-size: 55px;
    }
    .hero-wrapper h2 {
        font-size: 20px;
    }
    .down-arrow {
        width: 8%;
    }
}

/* Devices width under 400 px (phones) */

@media only screen and (max-width:400px) {
    .hero-wrapper h1 {
        font-size: 60px;
    }
    .hero-wrapper h2 {
        margin-top: 10px;
        font-size: 20px;
    }
    .down-arrow {
        width: 10%;
    }
}

/* ---------- About Section ---------- */

.about {
    overflow: hidden;
}

.left,
.right {
    padding: 2% 3%;
}

.left {
    text-align: center;
    overflow: hidden;
}

.left img {
    margin-bottom: 30px;
    width: 150px;
}

.left h2 {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
    color: white;
    font-size: 25px;
    width: 80%;
    margin: 0 auto 30px auto;
}

.left h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 40px;
    width: 80%;
    margin: 0 auto 30px auto;
}

.left a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    background-color: #0d0d0d;
    color: white;
    padding: 12px 40px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
    display: inline-block;
    margin: 0 10px 0 10px;
}

.left a:hover {
    color: black;
    background-color: white;
}

.right {
    text-align: center;
}

.right img {
    margin-bottom: 30px;
    width: 150px;
}

.right h1 {
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

/* about section above 900px */

@media (min-width:900px) {
    /* Enabling flexbox property */
    .about {
        display: flex;
    }
    .left,
    .right {
        flex: 1;
    }
}

/* under 600px */

@media (max-width:600px) {
    .left h2 {
        font-size: 20px;
    }
    .left a {
        font-size: 20px;
        padding: 5px 10px;
        width: 80%;
        margin-top: 10px;
    }
}

/* about section under 400px */

@media (max-width:400px) {
    .left img {
        width: 120px;
    }
    .left h1 {
        font-size: 40px;
    }
    .left h2 {
        font-size: 22px;
        width: 90%;
        letter-spacing: normal;
    }
    .left a {
        font-size: 1.2rem;
        padding: 5px;
    }
    .right img {
        margin-top: 60px;
        width: 100px;
    }
    .right h1 {
        font-size: 40px;
    }
}

/* Form css */

/* Style inputs, select elements and textareas */

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    /* fixed the "cant see form text bug": */
    color: black;
}

/* Style the label to display next to the inputs */

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Style the submit button */

input[type=submit] {
    background-color: #0d0d0d;
    color: white;
    padding: 12px 20px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    transition: 0.5s ease;
}

input[type=submit]:hover {
    color: black;
    background-color: white;
}

/* Style the container */

.container {
    border-radius: 5px;
    padding: 20px;
}

/* Floating column for inputs: 75% width */

.col-75 {
    margin: 10px auto 0 auto;
    width: 80%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 10px;
    }
}

/* Social Links Section */

.social {
    display: flex;
    margin-bottom: 20px;
}

.social-links {
    border-top: 1px solid white;
    border-bottom: 1px solid darkgray;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.social img {
    display: inline-block;
    width: 90px;
    margin: 30px 100px;
}

.social a {
    text-decoration: none;
}

/* Social links 600px and under */

@media (max-width:600px) {
    .social img {
        width: 50px;
        margin: 10px 10px;
    }
}

/* Social links 400px and under */

@media (max-width:400px) {
    .social img {
        width: 40px;
        margin: 10px 2px;
    }
}

/* ---------- Projects Section ---------- */

.projects-section {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.projects-section-title {
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    padding: 30px;
}

hr {
    display: block;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 0 auto 10px auto;
    width: 90px;
}

.wrapper {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.project {
    width: 300px;
    height: 300px;
    background-image: url('/assets/img/p1-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: 20px 20px 0 20px;
}

.project:nth-child(2) {
    width: 300px;
    height: 300px;
    background-image: url('/assets/img/p2-min.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.project:nth-child(3) {
    width: 300px;
    height: 300px;
    background-image: url('/assets/img/p3-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.overlay {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s all ease;
    cursor: pointer;
}

.overlay:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width:600px) {
    .overlay {
        background-color: rgba(0, 0, 0, 0.5);
    }
}


.project a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto',
    sans-serif;
    color: white;
    font-size: 30px;
    padding: 0 10px;
}

.go-to-github {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto',
    sans-serif;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 10px;
    display: inline-block;
    transition: 0.5s;
}

/* Go to github btn needs to have margin bottom under 400px */
@media (max-width:400px) {
    .go-to-github {
        margin-bottom: 50px;
    }
}

.go-to-github:hover{
    color: black;
    background-color: white;
}